p{
    font-size: 40px;
    font-style: italic;
    color: brown;
}
.color{
    color: crimson; 
}

Body{
    background-color: bisque;
}

a{
    font-size: 40px;
}
.picture{
    width: 1300px;
    
}